/* Login.css */
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
  background-color: #001F23;
  background-image: url("../Data/logo.svg");
  background-position: calc(100% - -150px) top; /* Push it 50px from the right edge */
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: overlay;
  width: 90vw;
}

/* Container */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #f5f5f527;
  margin-top: 9vh;
  margin-left: 10vw;
  font-family: 'Varela Round';
  border-radius: 15px;
}

h1 {
  color: #00FF85;
}

/* Form and Image Container */
.form-image-container {
  display: flex;
  border-radius: 15px;
  margin: 0 auto;
}

/* Login Form */
.login-form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: linear-gradient(to bottom, #001F23, transparent);
  padding: 10px 60px;
  width: 50vh;
  height: 45vh;
  border-radius: 15px;
  text-align: center;
}

/* Input Container */
.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
}

/* Icon */
.icon {
  margin: 0;
  color: #ccc;
}

.username-input {
  display: flex;
  align-items: center;
  width: 87%;
}

input[type="text"],
input[type="password"] {
  flex: 1;
  padding: 10px;
  border: none;
  font-size: 16px;
  outline: none;
  margin-left: 10px;
  width: 100%;
}

.password-input {
  display: flex;
  align-items: center;
  width: 84%;
}

.password-toggle {
  margin-left: -30px; /* Adjust the margin to position the toggle icon properly */
}

/* Remember Me */
.remember-me {
  display: flex;
  align-items: center;
  font-family: arial;
  margin: 10px;
}

/* Style the label for the "Remember Me" checkbox */
.remember-me label[for="rememberMe"] {
  display: inline;
  font-size: 14px;
  color: #ccc;
  margin-right: 65%;
  /* Add other styles as needed */
}


/* Remember me checkbox */
.checkbox-container {
  display: flex;
  align-items: center;
  margin-right: auto; /* Push the checkbox to the right */
}

/* Login Button */
.login-button {
  background-color: #00ad14;
  color: #fff;
  border: 1px solid #001F23;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  width: 83%;
  transition: background-color 0.2s;
}

.login-button:hover {
  background-color: #00FF85;
}

/* Register Link */
.register-link {
  color: #ccc;
  margin-top: 8px;
  font-size: 16px;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

/* Add this CSS to your existing styles */
.image-container {
  background-image: url('/public/car1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ffffff;
  width: 100%;
  color: #fff;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 0px 15px 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Align content to the top */
  align-items: center;
}

.login-image {
  width: 100%;
  height: auto;
  /* Auto height to maintain aspect ratio */
}

/* Style the welcome text */
.welcome {
  color: #00FF85;
  margin-top: 75%;
  /* Green color for welcome text *
  /* Add some margin to the top */

}

.divider {
  height: 2px;
  background-color: #00FF85;
  width: 133px; /* Adjust the width as needed */
  margin: 0 auto;
}

.or {
  color: #ccc;
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 900;
}

/* Social Login Buttons */
.social-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin-bottom: 8vh;
  /* Equal width for both form and image container with a small gap */
}

.social-button {
  background-color: #fff; /* Original background color */
  color: #fff; /* Text color */
  border: 1px solid #001F23;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s; /* Add background color transition */
}

.social-button:hover {
  background-color: #f3f3f3; /* Lighter background color on hover */
  color: #fff; /* Original text color */
}


/* Styling for social media buttons */
.social-button.facebook {
  background-color: #1877f2;
  color: #fff;
  transition: background-color 0.2s;
}

.social-button.facebook:hover {
  background-color: #181cf2;
}

.social-button.google {
  background-color: #ff0000;
  color: #fff;
  transition: background-color 0.2s;
}

.social-button.google:hover {
  background-color: #b50707;
}

.social-button.x {
  background-color: #000000;
  color: #fff;
  transition: background-color 0.2s;
}

.social-button.x:hover {
  background-color: #333333;
}
