.questions-container {
  max-width: 800px;
  max-height: 600px;
  overflow-y: auto;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.question {
  text-align: left;
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 5px;
  word-wrap: break-word;
  background-color: #ccc;
}

input:focus {
  background-color: #eaeaea;
}

.buttons-container {
  text-align: center; /* Center align the buttons */
}

.submit-button, .edit-button, .message {
  margin: 5px; /* Add spacing between buttons */
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.submit-button {
  background-color: #007BFF;
}

.submit-button:hover {
  background-color: #0056b3;
}

.edit-button {
  background-color: #3BB143;
}

.edit-button:hover {
  background-color: #30A23C;
}

.message {
  display: block;
  text-align: center;
  font-weight: bold;
}
