.questions-container {
    max-width: 800px; /* Set a larger max-width value */
    max-height: 600px; /* Set a maximum height with scrolling */
    overflow-y: auto; /* Enable vertical scrolling when content exceeds the container's height */
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 20px;
}

  .question {
    text-align: left;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc; /* Increase border width for visibility */
    border-radius: 4px;
    font-size: 16px;
    margin-top: 5px;
    word-wrap: break-word;
    background-color: #ccc;
  }
  
  input:focus {
    background-color: #eaeaea;
  }
  
  .submit-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }

  .submit-button:hover {
      background-color: #0056b3;
  }
  
  h1 {
    padding-bottom: 20px;
  }